@import "variables.scss";

#fourth-section {
    background-color: $off-white;
    align-self: center;
    margin-top: 15vh;

    p,
    ul {
        color: $brown;
    }

    section {
        width: 100%;
        margin-bottom: 2rem;

        img {
            width: 70%;
            position: sticky;
            top: 4%;
            left: 15%;
            margin: auto;
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5% 5% 5% 5%;
            margin-bottom: 5%;
            margin-left: 45px;
            margin-right: 45px;
            box-shadow: 0px -3px 20px $grey;

            article {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            ul {
                font-size: 0.8rem;
            }
        }
    }

    button {
        padding: 4% 10%;
        background-color: $green;
        border: none;
        color: $off-white;
        text-transform: uppercase;
        font-size: 0.7rem;
        min-width: 250px;
    }

    .price-bold {
        font-size: 2rem;
    }
}