@import"variables.scss";

header {
    flex-direction: column;
    position: fixed;
    z-index: 2;
    width: 100%;
    margin-top: -11px;

    .flex {
        display: flex;
        flex-wrap: unset;
    }

    .active {
        display: block;
    }

    nav {
        transition: 0.3s ease;
        flex-direction: row;
        justify-content: center;
        display: none;
        background-color: $off-white;
        animation: closing-menu 1s forwards;
        box-shadow: 0px 0px 10px $grey;
        padding: 0 1%;

        .logo {
            max-width: 50%;
            width: 25vw;
            margin-top: 2%;
        }

        button {
            font-family: "brandon_grotesquelight", "linotype_didotroman", Arial,
                Helvetica, sans-serif;
            font-size: large;
            padding: 2% 5%;
            background-color: $secondary;
            border: none;
            align-self: center;
            color: $off-white;
        }

        section {

            img {
                align-self: center;
                margin-right: auto;
            }

            article {
                display: flex;
                justify-content: space-around;
                margin-top: 5px;
            }
        }
    }

    .nav-two {
        height: 5vh;
        animation: opening-menu 1s forwards;
        margin-top: 0.5%;
        padding-top: 17px;

        ul {
            margin-left: 25%;
            list-style: none;
            line-height: 100px;
        }
    }
}