/***
Colors, will be in variable.scss
*/

@import "variables.scss";
@import "animation.scss";

/*Global*/
body {
    font-size: 4vw;
    background-color: $off-white;
    overflow-x: hidden;

    .queries-sm,
    .queries-md,
    .queries-lg,
    .queries-xl {
        position: absolute;
        display: none;
        font-size: 2rem;

        z-index: 999;
        top: 7%;
        bottom: 0%;
    }

    .queries-xsm {
        position: absolute;
        font-size: 2rem;
        z-index: 999;
        top: 7%;
        bottom: 0%;
    }

    .flex {
        display: flex;
    }

    .relative {
        position: relative;
    }

    .absolute {
        position: absolute;
    }

    .image-fit {
        max-width: 100%;
        object-fit: cover;
        object-position: bottom;
        z-index: 0;
    }

    .mg-t {
        margin-top: 1%;
    }

    .mg-b {
        margin-bottom: 1%;
    }

    .logo {
        max-width: 50%;
        align-self: center;
    }

    section {
        max-width: 100vw;
        overflow: hidden;
    }

    .place-top {
        top: 0;
    }

    .upper-case {
        text-transform: uppercase;
    }

    p {
        color: $brown;
        text-shadow: 1px 1px 1px $white;
    }

    button {
        cursor: pointer;
    }
}

@import "header.scss";
@import "first-section.scss";
@import "second-section.scss";
@import "third-section.scss";
@import "fourth-section.scss";

footer {
    justify-content: space-around;

    img {
        align-self: center;
        margin-right: auto;
    }

    .logo {
        margin-left: auto;
        width: 25vw;
    }
}

@import "queries.scss";