@import "variables.scss";

#third-section {
    height: 60vw;
    margin: 0% 10%;
    font-family: "brandon_grotesquelight", "linotype_didotroman", Arial, Helvetica,
        sans-serif;
    height: 100vh;

    .room-picture {
        left: 38%;
        top: -80%;
        width: 77%;
        height: 178%;
    }

    .chill-picture {
        transform: scaleX(-1);

        z-index: 1;

        object-fit: contain;
        object-position: center;

        position: relative;
        width: 85%;
        top: 60%;
        left: 0%;
    }

    article {
        display: flex;
        flex-direction: column;
        color: $black;
        text-shadow: 1px 1px 1px $white;
        text-align: left;
        line-height: 0;
        top: 0%;
        margin-left: 5%;
        font-size: 0.9rem;
        width: 100%;

        .hour {
            margin-left: 10%;
            color: $grey;
            text-shadow: none;
        }

        h2,
        h3,
        h4,
        h5 {
            text-align: left;
            font-size: 1rem;
        }

        div {
            color: $off-white;
            line-height: 5px;
            top: 100%;
            font-size: 1rem;
        }

        .white {
            color: $off-white;
            text-shadow: 1px 1px 1px $black;
        }
    }
}